body {
  font-family: "Roboto", sans-serif;
}

#message {
  font-size: 1.1rem;
  font-weight: 300;
}

.correct {
  background-color: #2aa54f;
  color: rgb(255, 255, 255);
}

.wrong {
  background-color: rgb(180, 35, 35);
  color: aliceblue;
}

.container {
  background-color: greenyellow;
  margin: 20vh auto;
  width: 20%;
  min-width: 200px;
  display: grid;
  border: 3px solid green;
  padding: 10px;
  place-items: center;
  position: relative;
}

.question {
  font-size: 1.2rem;
}

.questionNumber {
  position: absolute;
  margin: 0;
  top: 0.5rem;
  right: 0.5rem;
  font-weight: 100;
}

button {
  width: 40%;
  margin: 0.1rem;
}
